/*cutsom styling*/
/*cutsom styling*/
html,body{
    height: 100%;
}

.nav {
  -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
}

h1, .nav-pills>li>a {
  color: #264653;
  font-size: 30px;
  font-family: 'Black And White Picture', sans-serif;
}

@media (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
  }
}

/* nav bar */
.nav-pills>li{
  background:#FFE1FF;
  border: 1px solid white;


}

/* nav text  */
.nav-pills>li.active>a{
  background: #F4A261;
}

.nav-pills>li>a{
  color: #264653;
}

.Merriweather {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

@media (max-width: 1000px) {
  .Merriweather {
    font-family: 'Merriweather', serif;
    font-size: 30px;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  .Merriweather {
    font-family: 'Merriweather', serif;
    font-size: 30px;
  }
}


/*COLUMNS WITH THE EQUAL HEIGHT*/
.container-flex, .container-order,.flex-center-center{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  background: #F4A261;
  justify-content: space-around;
  padding: 2rem;
}

.box {
  width:50%;
  background:black;
  color: white;
  /* font-size: 30px; */
  padding: 1rem;
  border: 1rem solid #E9C46A;
  text-align: center;
  }
}

@media (max-width: 1000px) {
  #address {
    width:75%;
    height: 50%;
    background:black;
    padding: 1rem;
    border: 1rem solid #E9C46A;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  #address {
    width:75%;
    height: 50%;
    background:black;
    padding: 1rem;
    border: 1rem solid #E9C46A;
  }
}

#timeAndDate{
font-family: 'Pacifico', cursive;
}

@media (max-width: 1000px) {
  #timeAndDate{
  font-family: 'Pacifico', cursive;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  #timeAndDate{
  font-family: 'Pacifico', cursive;
  width: 100%;
  }
}

@media (max-width: 1000px) {
  .weddingDate{
  font-size: 50px;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
.weddingDate{
  font-size: 50px;
  }
}

#backgroundBox {
  background-image: url('/images/beach-sunset.jpeg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid lightpink;
    /* -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48); */
}


#beach-wedding {
  background-image: url('/images/beach-wedding.jpg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      border: 2px solid lightpink;
    -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
}

@media (max-width: 1000px) {
  #beach-wedding {
    background-image: url('/images/beach-wed.jpeg');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        border: 2px solid lightpink;
      -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  #beach-wedding {
    background-image: url('/images/beach-wed.jpeg');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        border: 2px solid lightpink;
      -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  }
}


.container-flex,.responsive{
  /* -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48); */
    /* border: 2px solid lightpink; */
}

#pic1 {
  background-image: url('/images/don-.jpg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pic2 {
  background-image: url('/images/Caddys.jpg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pic3 {
  background-image: url('/images/beach-wedding-photo.jpeg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#backgrounds {
  border-radius: 10px;
  background: orange;
   border: 12px solid orange;
   font-size: 20px;
}

#backgrounds:hover{
  background-color: yellow;
  border: 12px solid yellow;
}

#pic1,#pic2,#pic3 {
  color: white;
}

/*order */
.container-order > .box{
  /* border: 1rem solid lightpink; */
  /* font-size: 4rem; */
  font-weight: bold;


}
/* .blue{
   order: 3;
   background: #264653;
}
.breeze {
    order: 2;
    background:#2A9D8F;
}
.yellow{
  order: 1;
  background: #E9C46A;
} */

/*Horizontal and vertical alignment*/
.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}
.flex-center-center > div{
  width: 33%;
  font-weight: bold;
  /* font-size: 5rem; */
  color: #264653;
}

/*responsive grig*/
.responsive > .box {
  font-weight: bold;
  /* font-size: 5rem; */
  color: #264653;
border: 1rem solid #E9C46A;
padding: 10%;
}
.col-1{
	flex: 1;
}

.col-2{
	flex: 2;
}

@media (max-width: 800px){
	.responsive{
		flex-direction: column;
    align-items:center;
	}
  .col-1, .col-2 {
    width: 100%;
  }
}

/*sticky footer*/
.sticky-container{
  display:flex;
  flex-direction:column;
  height: auto;
  width: 100%;
  background: #F4A261;
  -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);

}

ul {
list-style-type: none;
}

.sticky-content{
  flex: 1 0 auto;
  font-weight: bold;
  /* font-size: 5rem; */
  /* color: #264653; */
  border: 2px solid lightpink;
}
.sticky-footer{
  flex: 0 0 auto;
  font-weight: bold;
  /* font-size: 5rem; */
  color: #264653;
background: #70DBDB;
font-family: 'Pacifico', cursive;
border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url('/images/stars.gif') 30 round; /* Safari 3.1-5*/
  -o-border-image: url('/images/stars.gif') 30 round; /* Opera 11-12.1 */
  border-image: url('/images/stars.gif') 30 round;
}


/* google map */
  #map {
    height: 200px;
    width: 100%;
   }

   @media (max-width: 1000px) {
     #map {
       height: 500px;
       width: 100%;
     }
   }
   @media (min-width: 50px) and (max-width: 1000px) {
     #map {
       height: 500px;
       width: 100%;
     }
   }

   #Itinerary {
     background-image: url('/images/pink-board.jpeg');
     background-image: no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       color: #264653;
       font-weight: bold;
       padding: 2%;
   }

   @media (max-width: 1000px) {
     #Itinerary {
       background-image: url('/images/pink-board.jpeg');
       background-image: no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         color: #264653;
         font-weight: bold;
         padding: 2%;
        font-size: 20px;
     }
   }
   @media (min-width: 50px) and (max-width: 1000px) {
     #Itinerary {
       background-image: url('/images/pink-board.jpeg');
       background-image: no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         color: #264653;
         font-weight: bold;
         padding: 2%;
         font-size: 20px;
     }
   }

   .title {
     text-shadow: 1px 1px 10px rgba(150, 150, 255, 1);
     font-family: 'Merriweather', serif;
   }

   @media (max-width: 1000px) {
     .title {
       text-shadow: 1px 1px 10px rgba(150, 150, 255, 1);
       font-family: 'Merriweather', serif;
        font-size: 30px;
     }
   }

   @media (min-width: 50px) and (max-width: 1000px) {
     .title {
       text-shadow: 1px 1px 10px rgba(150, 150, 255, 1);
       font-family: 'Merriweather', serif;
       font-size: 30px;
     }
   }


   .title2 {
     font-family: 'Merriweather', serif;
   }

   @media (max-width: 1000px) {
     .title2 {
       font-family: 'Merriweather', serif;
       font-size: 30px;
     }
   }

   @media (min-width: 50px) and (max-width: 1000px) {
     .title2 {
       font-family: 'Merriweather', serif;
       font-size: 30px;
     }
   }

   /* carousel */
   .carousel-slide {
     margin: auto;
   }

   .item {
     height: 100vh;
     margin-top: 1%;
   }

   .item img {
     height: 90%!important;
     margin: auto;
   }
   @media (max-width: 1000px) {
     .item img {
       height: 55%!important;
       margin: auto;
     }
   }
   @media (min-width: 50px) and (max-width: 1000px) {
     .item img {
       height: 55%!important;
       margin: auto;
     }
   }

   .carousel-control {
     background : none!important;
   }
