/*cutsom styling*/
/*cutsom styling*/
html,body{
    height: 100%;
}

.nav {
  -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
}

h1, .nav-pills>li>a {
  color: #264653;
  font-size: 30px;
  font-family: 'Black And White Picture', sans-serif;
}

@media (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
  }
}

/* nav bar */
.nav-pills>li{
  background:#FFE1FF;
  border: 1px solid white;


}

/* nav text  */
.nav-pills>li.active>a{
  /* background: #F4A261; */
}

.nav-pills>li>a{
  color: #264653;
}

.Merriweather {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

@media (max-width: 1000px) {
  .Merriweather {
    font-family: 'Merriweather', serif;
    font-size: 30px;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  .Merriweather {
    font-family: 'Merriweather', serif;
    font-size: 30px;
  }
}


/*COLUMNS WITH THE EQUAL HEIGHT*/
.container-flex, .container-order,.flex-center-center{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  background: black;
  justify-content: space-around;
  padding: 2rem;
}

.box {
  width:50%;
  background:black;
  color: white;
  /* font-size: 30px; */
  padding: 1rem;
  /* border: 1rem solid #E9C46A; */
  text-align: center;
    border: 1px solid lightpink;
  }
}


#timeAndDate{
font-family: 'Pacifico', cursive;
  width: 100%;
}

@media (max-width: 1000px) {
  #timeAndDate{
  font-family: 'Pacifico', cursive;
  width: 100%;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  #timeAndDate{
  font-family: 'Pacifico', cursive;
  width: 100%;
  }
}

@media (max-width: 1000px) {
  .weddingDate{
  font-size: 50px;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
.weddingDate{
  font-size: 50px;
  }
}

#backgroundBox {
  background-image: url('/images/gold.jpeg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid black;
    /* -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48); */
}


#beach-wedding {
  background-image: url('/images/beach-wedding.jpg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      border: 2px solid white;
}

@media (max-width: 1000px) {
  #beach-wedding {
    background-image: url('/images/beach-wed.jpeg');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        border: 2px solid lightpink;
      -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  #beach-wedding {
    background-image: url('/images/gold.jpeg');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        border: 2px solid lightpink;
      -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  height: 50%;
  }
}

#pic1 {
  background-image: url('/images/don-.jpg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pic2 {
  background-image: url('/images/Caddys.jpg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pic3 {
  background-image: url('/images/beach-wedding-photo.jpeg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* text for things to do links */
#backgrounds {
  border-radius: 10px;
  background: orange;
   border: 12px solid orange;
   font-size: 20px;
}

#backgrounds:hover{
  background-color: yellow;
  border: 12px solid yellow;
}

#pic1,#pic2,#pic3 {
  color: white;
}

/*order */
.container-order > .box{
  /* border: 1rem solid lightpink; */
  /* font-size: 4rem; */
  font-weight: bold;


}
/* .blue{
   order: 3;
   background: #264653;
}
.breeze {
    order: 2;
    background:#2A9D8F;
}
.yellow{
  order: 1;
  background: #E9C46A;
} */

/*Horizontal and vertical alignment*/
.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}
.flex-center-center > div{
  width: 33%;
  font-weight: bold;
  /* font-size: 5rem; */
  color: #264653;
}

/*responsive grig*/
.responsive > .box {
  font-weight: bold;
  /* font-size: 5rem; */
  color: #264653;
border: 1rem solid #E9C46A;
padding: 10%;
}
.col-1{
	flex: 1;
}

.col-2{
	flex: 2;
}

@media (max-width: 800px){
	.responsive{
		flex-direction: column;
    align-items:center;
	}
  .col-1, .col-2 {
    width: 100%;
  }
}

/*sticky footer*/
.sticky-container{
  display:flex;
  flex-direction:column;
  height: auto;
  width: 100%;
  -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);

}

ul {
list-style-type: none;
}

.sticky-content{
  flex: 1 0 auto;
  font-weight: bold;
  /* font-size: 5rem; */
  /* color: #264653; */
  border: 2px solid black;
}
.sticky-footer{
  flex: 0 0 auto;
  font-weight: bold;
  /* font-size: 5rem; */
  color: #264653;
background: #70DBDB;
font-family: 'Pacifico', cursive;
border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url('/images/stars.gif') 30 round; /* Safari 3.1-5*/
  -o-border-image: url('/images/stars.gif') 30 round; /* Opera 11-12.1 */
  border-image: url('/images/stars.gif') 30 round;
}


/* google map */
  #map {
    height: 200px;
    width: 100%;
   }

   @media (max-width: 1000px) {
     #map {
       height: 500px;
       width: 100%;
     }
   }
   @media (min-width: 50px) and (max-width: 1000px) {
     #map {
       height: 500px;
       width: 100%;
     }
   }

   #Itinerary {
     background-image: url('/images/pink-board.jpeg');
     background-image: no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       color: #264653;
       font-weight: bold;
       padding: 2%;
   }

   @media (max-width: 1000px) {
     #Itinerary {
       background-image: url('/images/pink-board.jpeg');
       background-image: no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         color: #264653;
         font-weight: bold;
         padding: 2%;
        font-size: 20px;
     }
   }
   @media (min-width: 50px) and (max-width: 1000px) {
     #Itinerary {
       background-image: url('/images/pink-board.jpeg');
       background-image: no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         color: #264653;
         font-weight: bold;
         padding: 2%;
         font-size: 20px;
     }
   }

   .title {
     text-shadow: 1px 1px 10px rgba(150, 150, 255, 1);
     font-family: 'Merriweather', serif;
   }

   @media (max-width: 1000px) {
     .title {
       text-shadow: 1px 1px 10px rgba(150, 150, 255, 1);
       font-family: 'Merriweather', serif;
        font-size: 30px;
     }
   }

   @media (min-width: 50px) and (max-width: 1000px) {
     .title {
       text-shadow: 1px 1px 10px rgba(150, 150, 255, 1);
       font-family: 'Merriweather', serif;
       font-size: 30px;
     }
   }


   .title2 {
     font-family: 'Merriweather', serif;
     color: white;
   }

   @media (max-width: 1000px) {
     .title2 {
       font-family: 'Merriweather', serif;
       font-size: 30px;
     }
   }

   @media (min-width: 50px) and (max-width: 1000px) {
     .title2 {
       font-family: 'Merriweather', serif;
       font-size: 30px;
     }
   }

   /* carousel */
   .carousel-slide {
     margin: auto;
   }

   .item {
     height: 100vh;
     margin-top: 1%;
   }

   .item img {
     height: 90%!important;
     margin: auto;
   }
   @media (max-width: 1000px) {
     .item img {
       height: 55%!important;
       margin: auto;
     }
   }
   @media (min-width: 50px) and (max-width: 1000px) {
     .item img {
       height: 55%!important;
       margin: auto;
     }
   }

   .carousel-control {
     background : none!important;
   }

   #wedding-party-box{
     background:	#e8d8c3;
     /* background: rgba(252,235,210,1);
     background: -moz-linear-gradient(top, rgba(252,235,210,1) 0%, rgba(252,235,210,1) 8%, rgba(232,200,151,1) 29%, rgba(232,200,151,1) 51%, rgba(240,231,184,1) 77%, rgba(242,226,201,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,235,210,1)), color-stop(8%, rgba(252,235,210,1)), color-stop(29%, rgba(232,200,151,1)), color-stop(51%, rgba(232,200,151,1)), color-stop(77%, rgba(240,231,184,1)), color-stop(100%, rgba(242,226,201,1)));
     background: -webkit-linear-gradient(top, rgba(252,235,210,1) 0%, rgba(252,235,210,1) 8%, rgba(232,200,151,1) 29%, rgba(232,200,151,1) 51%, rgba(240,231,184,1) 77%, rgba(242,226,201,1) 100%);
     background: -o-linear-gradient(top, rgba(252,235,210,1) 0%, rgba(252,235,210,1) 8%, rgba(232,200,151,1) 29%, rgba(232,200,151,1) 51%, rgba(240,231,184,1) 77%, rgba(242,226,201,1) 100%);
     background: -ms-linear-gradient(top, rgba(252,235,210,1) 0%, rgba(252,235,210,1) 8%, rgba(232,200,151,1) 29%, rgba(232,200,151,1) 51%, rgba(240,231,184,1) 77%, rgba(242,226,201,1) 100%);
     background: linear-gradient(to bottom, rgba(252,235,210,1) 0%, rgba(252,235,210,1) 8%, rgba(232,200,151,1) 29%, rgba(232,200,151,1) 51%, rgba(240,231,184,1) 77%, rgba(242,226,201,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcebd2', endColorstr='#f2e2c9', GradientType=0 ); */
   }

   .wedding-party {
     border-radius: 50%;
     height: 200px;
     width: 200px;
     /* background:silver; */
     padding: 1rem;
     border: 1px solid white;
     /* background-image: url('/images/white-sparkle.png'); */
     cursor: url('/images/heart-small.png'), auto;
     -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
     -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
     box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
   }

   .wedding-party {
     border-radius: 50%;
     height: 200px;
     width: 200px;
     padding: 1rem;
     border: 1px solid white;
     background-image: url('/images/white-sparkle.png');
     cursor: url('/images/heart-small.png'), auto;
     -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
     -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
     box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
   }

   .container-order > .box{
     font-size: 4rem;
     font-weight: bold;
     -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
     -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
     box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
   }
   .pink{
     order: 4;
     background-image: url("/images/amy.jpg");
     background-size:contain;
   }

   /* .blue{
      background-image: url("/images/jayanti.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
   } */
   /* .breeze {
       background-image: url("/images/yamuna.jpg");
       background-repeat: no-repeat;
       background-size: contain;
       height: 100%;
   }
   .yellow{
     background-image: url("/images/chay.jpg");
     background-repeat: no-repeat;
     background-size: contain;
     height: 100%;
   }

   #chay {
     background-image: url('/images/jayanti.jpg');
     background-image: no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }

   #yamuna {
     background-image: url('/images/jayanti.jpg');
     background-image: no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }

   #jayanti {
     background-image: url('/images/jayanti.jpg');
     background-image: no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }

   #amy {
     background-image: url('/images/jayanti.jpg');
     background-image: no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   } */

   #iframe-style {
height:60%;
width: 100%
   }

   @media (max-width: 1000px) {
     #iframe-style {
  height:15%;
  width: 100%
     }
   }
   @media (min-width: 50px) and (max-width: 1000px) {
     #iframe-style {
  height:15%;
  width: 100%
     }
   }

.box-shadow{
  knob
 background: rgba(226,226,226,1);
 background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(14%, rgba(232,227,232,1)), color-stop(47%, rgba(255,247,255,1)), color-stop(82%, rgba(235,235,235,1)), color-stop(100%, rgba(209,209,209,1)));
 background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
 background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
 background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
 background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1', GradientType=0 );
padding: 1px;
   }

   #iframe-style {
     overflow: hidden;
     background-image: url('/images/beach.jpeg');
     background-image: no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }
