/*cutsom styling*/
html,body{
    height: 100%;
}

/* nav */
h1, .nav-pills>li>a {
  color: #264653;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}

@media (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
  }
}


/* nav bar */
.nav-pills>li{
  background:#FFE1FF;
  border: 1px solid white;

}

/* nav text  */
.nav-pills>li.active>a{
  background: #F4A261;
}

.nav-pills>li>a{
  color: #264653;
}


/* google map */
  #map {
    height: 200px;
    width: 100%;
   }
