/*cutsom styling*/
html,body{
    height: 100%;
}

/* nav & title */
h1, .nav-pills>li>a {
  color: #264653;
  font-size: 30px;
  font-family: 'Black And White Picture', sans-serif;
}

@media (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
  }
}

/* nav bar */
.nav-pills>li{
  /* background:#FFE1FF; */
  background:#FFE1FF;
  border: 1px solid white;
}

/* nav text  */
.nav-pills>li.active>a{
  /* background: #F4A261; */
}

.nav-pills>li>a{
  color: #264653;
}

#main-title {
  font-size: 50px;
  padding-top: 5%;
}


.header {
  font-family: 'Merriweather', serif;
  font-size: 30px;
}

.titles {
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px 10px rgba(150, 150, 255, 1);
}



#header-pic {
  background-image: url('/images/paper-gold.jpg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height:100%;
    max-width:100%;
      padding: 15px;
    cursor: url('/images/heart-small.png'), auto;
}

@media (max-width: 1000px) {
#header-pic {
  background-image: url('/images/lace-rose.png');
  background-image: no-repeat center center fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     max-height:50%;
    max-width:100%;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  #header-pic {
    background-image: url('/images/lace-rose.png');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      max-height:40%;
      max-width:100%;
  }
}

/*COLUMNS WITH THE EQUAL HEIGHT (stories border)*/
.container-flex, .container-order,.flex-center-center{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  background: lightgrey;
  background-repeat: no-repeat;
  background-size: cover;
border: 3px solid tan;
  justify-content: space-around;
  padding: 2rem;
  -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
  background-image: url('/images/gold.jpeg');
}

@media (max-width: 1000px) {
  .container-flex, .container-order,.flex-center-center{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    background: lightgrey;
    /* background-image: url('/images/wall-vines.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
  border: 1px solid tan;
    justify-content: space-around;
    padding: 2rem;
    -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    background-color: white;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  .container-flex, .container-order,.flex-center-center{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    background: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
  border: 1px solid tan;
    justify-content: space-around;
    padding: 2rem;
    -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    background-color: white;
  }
}


/* stories background */
.box {
  width:25%;
  /* background:#592734; */
  padding: 3rem;
  /* -webkit-box-shadow: inset 0px 4px 300px 184px rgba(245,235,191,1);
-moz-box-shadow: inset 0px 4px 300px 184px rgba(245,235,191,1);
box-shadow: inset 0px 4px 300px 184px rgba(245,235,191,1); */
background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(14%, rgba(232,227,232,1)), color-stop(47%, rgba(255,247,255,1)), color-stop(82%, rgba(235,235,235,1)), color-stop(100%, rgba(209,209,209,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(232,227,232,1) 14%, rgba(255,247,255,1) 47%, rgba(235,235,235,1) 82%, rgba(209,209,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1', GradientType=0 );
padding: 2px;
}


/*Horizontal and vertical alignment*/
.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
}
.flex-center-center > div{
  width: 33%;
  font-weight: bold;
  font-size: 5rem;
  color: #264653;
}

/*responsive grig (stories)*/
.responsive > .box {
  font-weight: bold;
  font-size: 5rem;
  color: #6f484d;
border: 2px solid black;

}
.col-1{
	flex: 1;
}

.col-2{
	flex: 2;
}

@media (max-width: 800px){
	.responsive{
		flex-direction: column;
    align-items:center;
	}
  .col-1, .col-2 {
    width: 100%;
  }
}

/*sticky footer*/
.sticky-container{
  display:flex;
  flex-direction:column;
  max-height: 90vh;
  max-width: 100%;
    background:#FFE1FF;
}
.sticky-content{
  flex: 1 0 auto;
  font-weight: bold;
  font-size: 5rem;
  color: #264653;
  border: 1px solid tan;
  background-image: url('/images/white-wedding-flowers.jpg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
}

.sticky-footer{
  flex: 0 0 auto;
  font-weight: bold;
  color: black;
background:lightpink;
border: 10px solid transparent;
  padding: 1px;
  /* -webkit-border-image: url('/images/stars.gif') 30 round; 
  -o-border-image: url('/images/stars.gif') 30 round;
  border-image: url('/images/stars.gif') 30 round; */
}

.metStory{
  /* text-shadow: 1px 1px 20px rgba(0, 16, 101, 1); */
  /* color: #003300; */
  color:#400000;
}

.storyTitle{
  /* text-decoration:underline; */
  /* text-shadow: 1px 1px 20px rgba(0, 16, 101, 1); */
  font-weight: bold;
  color: #330033;

}

h2, h3, h4 {
	color: white;
  line-height: 30.8px;
}

#rainbow-springs {
  /* border-radius: 55px; */
  -webkit-box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
  -moz-box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
  box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
  border: 2px solid white;
  height: 70%;
  width: 50%

}

@media (max-width: 1000px) {
#rainbow-springs {
  /* border-radius: 55px; */
  -webkit-box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
  -moz-box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
  box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
  border: 5px solid white;
  height: 90%;
  width: 100%
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  #rainbow-springs {
    /* border-radius: 55px; */
    -webkit-box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
    -moz-box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
    box-shadow: 2px 0px 113px 0px rgba(138,90,138,1);
    border: 5px solid white;
    height: 90%;
    width: 100%
  }
}

h1,  {
	font-family: "Brush Script MT", cursive;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30.8px;
}


.testID  {
	font-family: "Brush Script MT", cursive;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30.8px;
}

#lovevideo {
  max-width: 100%;
  max-height: auto;
  margin-top: 1%;
  border: 20px solid transparent;
    padding: 15px;
    -webkit-border-image: url('/images/stars.gif') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('/images/stars.gif') 30 round; /* Opera 11-12.1 */
    border-image: url('/images/stars.gif') 30 round;
  cursor: url('/images/heart-small.png'), auto;
}


   .container-flex,.responsive{
     -webkit-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
     -moz-box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
     box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.48);
   }

   .countdown {
     background-color: white;
     /* background-image: url('/images/confetti.webp'); */
     border: 2px solid tan;
    padding: 2px;
   }
