html, body, .page {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  /* transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1); */
  /*color: #fff;*/
  /* overflow-x:scroll; */
  /* overflow-x: hidden; */
  /* background-image: url('/images/stars.gif');background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    position: fixed;
    /* min-height: 500px; */
     /* height: 100%; */
}

h1, .nav-pills>li>a {
  color: #264653;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}

@media (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
  }
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
  }
  }
}

h3 {
  color:#2A9D8F;
}
.nav-pills>li{
  background:lightblue;

}
.nav-pills>li.active>a{
  background: #F4A261;
}
.nav-pills>li>a{
  color: #264653;
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.page {
  position: absolute;
}


/* #p2 {
  left: 200%;
} */

/*p2*/


/*rsvp header*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/* #rsvpHeader {
  background: hsla(0, 0%, 0%, .9);
} */

h2 {
  color: hsla(0, 100%, 0%, .9);
  font: normal Varela Round, sans-serif;
  letter-spacing: 5px;
  position: absolute;
  top: 30%;
  width: 100%;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(200, 100%, 50%, 1),
      3px -3px 0 hsla(200, 100%, 50%, 1),
      2px -2px 0 hsla(200, 0%, 50%, 1),
      1px -1px 0 hsla(200, 100%, 50%, 1),
      -4px 4px 0 hsla(300, 100%, 50%, 1),
      -3px 3px 0 hsla(300, 0%, 50%, 1),
      -2px 2px 0 hsla(300, 100%, 50%, 1),
      -1px 1px 0 hsla(300, 100%, 50%, 1)
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(300, 0%, 50%, 1),
      -3px -3px 0 hsla(300, 100%, 50%, 1),
      -2px -2px 0 hsla(300, 100%, 50%, 1),
      -1px -1px 0 hsla(300, 100%, 50%, 1),
      4px 4px 0 hsla(290, 0%, 50%, 1),
      3px 3px 0 hsla(290, 100%, 50%, 1),
      2px 2px 0 hsla(290, 100%, 50%, 1),
      1px 1px 0 hsla(290, 0%, 50%, 1)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(300, 100%, 50%, 1),
      -3px 3px 0 hsla(300, 100%, 50%, 1),
      -2px 2px 0 hsla(300, 100%, 50%, 1),
      -1px 1px 0 hsla(300, 100%, 50%, 1),
      4px -4px 0 hsla(280, 100%, 50%, 1),
      3px -3px 0 hsla(280, 100%, 50%, 1),
      2px -2px 0 hsla(280, 100%, 50%, 1),
      1px -1px 0 hsla(280, 0%, 0%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(200, 0%, 50%, 1),
      3px 3px 0 hsla(200, 100%, 50%, 1),
      2px 2px 0 hsla(200, 0%, 50%, 1),
      1px 1px 0 hsla(200, 100%, 50%, 1),
      -4px -4px 0 hsla(300, 100%, 50%, 1),
      -3px -3px 0 hsla(280, 100%, 50%, 1),
      -2px -2px 0 hsla(280, 100%, 50%, 1),
      -1px -1px 0 hsla(290, 0%, 50%, 1)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(300, 0%, 50%, 0),
      3px -3px 0 hsla(300, 100%, 50%, 1),
      2px -2px 0 hsla(300, 0%, 0%, 1),
      1px -1px 0 hsla(300, 100%, 50%, 1),
      -4px 4px 0 hsla(300, 0%, 50%, 1),
      -3px 3px 0 hsla(300, 100%, 50%, 1),
      -2px 2px 0 hsla(300, 0%, 50%, 1),
      -1px 1px 0 hsla(300, 100%, 50%, 1)
    ;
  }
}

/* canvas moving background */
/* #prettyBox{
  width: 100%;
  height: 100%;
  background-image: url('/images/fromeFlowers.png');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%; */
  /* bring your own prefixes */
  /* transform: translate(-55%, -55%);
} */

canvas {
  background-color: silver;
  background-image: url('/images/beach.jpeg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#bg canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*envelope*/
#envelope  {
  background: #f08080;
  background-image: url('/images/gold.jpeg');
   width: 300px;
   height: 150px;
   position: absolute;
   left: 50%;
   top: 65%;
   margin-left: -150px;
   margin-top: -0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

#lid {
  border-color: transparent transparent #f08080 transparent;
  border-image: url('/images/gold.jpeg');
  position: relative;
  top: -150px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 150px 150px 150px;
}


#letter {
  position: relative;
  background: #adbce6;
  background-image: url('/images/weddingInvite.png');
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: -150px;
  width: 280px;
  height: 180px;
  left: 10px;
  top: -200px;
  animation: out 5s infinite linear;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  text-align: center;
  font-style: italic;
  font-size: 20px;
}


#left-corner {
  position: relative;
  top: -335px;
  left: 10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 0 0 250px;
  border-color: transparent transparent transparent #f08080;
  border-image: url('/images/gold.jpeg');
}

#right-corner {
  position: relative;
  top: -480px;
  left: 50px;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 0 0 150px 250px;
border-color: transparent transparent #f08080 transparent;
border-image: url('/images/gold.jpeg');
}

@keyframes out {
	0% {top: -200px;}
  25% {top: -300px;}
  50% {top: -200px;}
  75% {top: -300px;}
}
