html, body, .page {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  position: fixed;

}

h1, .nav-pills>li>a {
  font-size: 30px;
  font-family: 'Black And White Picture', sans-serif;
  /* border: 1px solid white; */
}

@media (max-width: 1000px) {
  h1, .nav-pills>li>a {
    /* color: #264653; */
    font-weight: bold;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
    /* border: 1px solid white; */
  }
  }

@media (min-width: 50px) and (max-width: 1000px) {
  h1, .nav-pills>li>a {
    /* color: #264653; */
    font-weight: bold;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
    /* border: 1px solid white; */
  }
  }


h3 {
  /* color:#2A9D8F; */
}
.nav-pills>li{
  background:#FFE1FF;
  border: 1px solid white;

}
.nav-pills>li.active>a{
  background: #F4A261;

}
.nav-pills>li>a{
  color: #264653;

}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.page {
  position: absolute;
}



canvas {
  /* background-color: silver; */
  background-image: url('/images/white-wood.jpeg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* @media (max-width: 1000px) {
  canvas {
    background-image: url('/images/gold.jpeg');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  }

@media (min-width: 50px) and (max-width: 1000px) {
  canvas {
    background-image: url('/images/gold.jpeg');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  } */

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#bg canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*envelope*/
#envelope  {
  background: #D4AF37;
   width: 500px;
   height: 250px;
   position: absolute;
   left: 40%;
   top: 45%;
   margin-left: -150px;
   margin-top: -0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

@media (max-width: 1000px) {
  #envelope  {
    background: #D4AF37;
     width: 500px;
     height: 250px;
     position: absolute;
     left: 40%;
     top: 20%;
     margin-left: -150px;
     margin-top: -0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
  }
  }

@media (min-width: 50px) and (max-width: 1000px) {
  #envelope  {
    background: #D4AF37;
     width: 500px;
     height: 250px;
     position: absolute;
     left: 40%;
     top: 20%;
     margin-left: -150px;
     margin-top: -0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
  }
  }



#lid {
  border-color: transparent transparent #D4AF37 transparent;
  position: relative;
  top: -150px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 250px 150px 250px;
}


#letter {
  position: relative;
  background: #adbce6;
  background-image: url('/images/weddingInvite.png');
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: -150px;
  width: 450px;
  height: 250px;
  left: 25px;
  top: -200px;
  animation: out 20s infinite linear;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  text-align: center;
  font-style: italic;
  font-size: 20px;
}


#left-corner {
  position: relative;
  top: -400px;
  left: -0px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 200px 0 0 350px;
  border-color: transparent transparent transparent #D4AF37;
  /* border-image: url('/images/gold.jpeg'); */
}

#right-corner {
  position: relative;
  top: -600px;
  left: 150px;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 0 0 200px 350px;
border-color: transparent transparent #D4AF37 transparent;
/* border-image: url('/images/gold.jpeg'); */
}

@keyframes out {
	0% {top: -200px;}
  25% {top: -300px;}
  50% {top: -200px;}
  75% {top: -300px;}
}
