html, body {
  background:#FFE1FF;
}
/* nav bar */
h1, .nav-pills>li>a {
  color: #264653;
  font-size: 30px;
  font-family: 'Black And White Picture', sans-serif;
}

@media (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  h1, .nav-pills>li>a {
    color: #264653;
    font-size: 50px;
    font-family: 'Black And White Picture', sans-serif;
  }
}

/* nav bar */
.nav-pills>li{
  background:#FFE1FF;
  border: 1px solid white;
}

/* nav text  */
.nav-pills>li.active>a{
  background: #F4A261;
}

.nav-pills>li>a{
  color: #264653;
}

/*COLUMNS WITH THE EQUAL HEIGHT (stories border)*/
.container-flex, .container-order,.flex-center-center{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  background: pink;
border: 1px solid black;
  justify-content: space-around;
  padding: 2rem;
}

/* end nav */

/* photos1 */
.carousel-slide {
  margin: auto;
}

.item {
  height: 100vh;
  margin-top: 1%;
}

.item img {
  height: 90%!important;
  margin: auto;
}
@media (max-width: 1000px) {
  .item img {
    height: 55%!important;
    margin: auto;
    margin-top: 15px;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  .item img {
    height: 55%!important;
    margin: auto;
    margin-top: 15%;
  }
}

.carousel-control {
  background : none!important;
}

@media (max-width: 1000px) {
  .carousel-control {
    background : none!important;
    margin-bottom: 50%;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  .carousel-control {
    background : none!important;
    margin-bottom: 50%;
  }
}


@media (max-width: 1000px) {
  .carousel-indicators {
    margin-bottom: 65%;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  .carousel-indicators {
    margin-bottom: 65%;
  }
}

.sticky-footer {
  background:#FFE1FF;
}
