/*links*/
#links {
  font-family: sans-serif;
  font-size: 30px;
  background-image: url('/images/beach.jpeg');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 1000px) {
  #links {
    font-family: sans-serif;
    background-image: url('/images/beach.jpeg');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  #links {
    font-family: sans-serif;

    background-image: url('/images/beach.jpeg');
    background-image: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
}

ul {
  width: 75%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  ul {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: space-between;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  ul {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: space-between;
  }
}

li {
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;

}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

li,
a,
a:after,
a:before {
  transition: .3s ease;
  color:white;
  font-size: 100%;
}

#photo-zoom
  li {
    background-color: black;
    box-shadow: 5px 5px rgba(0, 0, 0, .1);
  }
  a {
    padding: 70% 10% 25% 10%;
  }

#photo-flip
  li{
    box-shadow: 5px 5px rgba(0, 0, 0, .1);
  }

  a {
    padding: 10% 10% 85% 10%;
    text-shadow: 0 0 5px #000, 0 0 20px #000;
  }
  #ladytag{
    background: url('/images/ladies.jpeg') no-repeat 50% 0/cover transparent;
    filter: grayscale(100%);
  }
  #dudetag {
    background: url('/images/men-colorful.jpg') no-repeat 50% 0/cover transparent;
    filter: grayscale(100%);
  }

  #ladytag {
    background: url('/images/ladies.jpeg') no-repeat 50% 0/cover transparent;
    filter: grayscale(0);
  }
  #dudetag {
    background: url('/images/men-colorful.jpg') no-repeat 50% 0/cover transparent;
    filter: grayscale(0);
  }



  li {
    background-color: black;
    box-shadow: 5px 5px rgba(0, 0, 0, .1);
    border-radius:
  }

  a {
    padding: 42.5% 0;
  }
  li {
    transform: rotate(0);
  }
  li:hover {
    transform: rotate(-5deg);
  }
	
  @media (max-width: 1000px) {
    #ladytag{
      background: url('/images/ladies.jpeg') no-repeat  0/cover transparent;
      filter: grayscale(0%);
    }

    #dudetag {
      background: url('/images/men-colorful.jpg') no-repeat  0/cover transparent;
      filter: grayscale(0%);
    }

    #ladytag {
      background: url('/images/ladies.jpeg') no-repeat 50% 0/cover transparent;
      filter: grayscale(0);
    }
    #dudetag {
      background: url('/images/men-colorful.jpg') no-repeat 50% 0/cover transparent;
      filter: grayscale(0);
    }

    }


  
  
  @media (min-width: 50px) and (max-width: 1000px) {
    #ladytag{
      background: url('/images/ladies.jpeg') no-repeat  0/cover transparent;
      filter: grayscale(0%);
    }
    #dudetag {
      background: url('/images/men-colorful.jpg') no-repeat  0/cover transparent;
      filter: grayscale(0%);
    }
	
    #ladytag {
      background: url('/images/ladies.jpeg') no-repeat 50% 0/cover transparent;
      filter: grayscale(0);
    }
    #dudetag {
      background: url('/images/men-colorful.jpg') no-repeat 50% 0/cover transparent;
      filter: grayscale(0);
  }
  
 }



  /* button:hover {
    cursor: pointer;
  } */

/* modal box popup */
/* .reveal-modal
 {
       background:#e1e1e1;
       visibility:hidden;
       display:none;
       top:100px;
       left:50%;
       width:820px;
       position:absolute;
       z-index:41;
       padding:30px;
       -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
       -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
       box-shadow:0 0 10px rgba(0,0,0,0.4)
 } */
